.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

.nav__notification__sm__find{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    font-weight: 600;
    margin-left: 20px;
    position: fixed;
    right: 20px;
    top: 30px;
}

@keyframes rotateGear{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover{
    animation: rotateGear 1s linear infinite;
}